# LaTeX intermediate and auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.gz
*.synctex.gz
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind

# latexmk files
latexmkrc

# editor/temp
*.swp
*~

# build directory
build/

# OS
.DS_Store
Thumbs.db

.idea/
